body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.top {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.videowrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  overflow: hidden;
  width: 100%;
}

#video-bg-elem{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.logo {
  margin-top: 50px;
  width: 75%;
  height: 75%;
}

.tag {
  color: #fff;
  margin-top: 150px;
  margin-bottom: 150px;
  font-weight: 400;
  text-align: center;
  font-size: 70px;
}

.buttonPosition {
  text-align: center;
}
.signUpButton {
  border: 1px solid #005fb2;
  background-color: #005fb2;
  border-radius: 30px;
  width: 300px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.signUpButton:hover {
  background-color: #32CD32;
  border: none;
  color: #fff;
  transition: background-color .25s linear;
}

.spacerTop {
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.middle1 {
  background-color: #fff;
}

.middle1Content {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.pictures {
  width: 80%;
  height: 90%;
}

.middle1Content1, .middle1Content2 {
  padding-top: 70px;
}

.middle1Content3 {
  padding-right: 21px;
}

.section2tag {
  text-align: center;
}

.middle2 {
  background-color: #005fb2;
  height: 100%;
}

.middle2Content {
  text-align: center;
}
.middle2Content > h4 {
  color: #fff;
  font-weight: 300;
  font-size: 80px;
  margin-top: 5%;
  margin-bottom: 5%;
}
#map {
  height: 400px;
  width: 60%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
.spacerBottom {
  top: 0;
  margin-top: 0;
  width: 100%;
}

.bottom {
  height: 700px;
  background-color: #fff;
}

.footer {
  height: 500px;
  background: #fff;
  text-align: center;
}
.footer > .row > .col-lg-12 > h5 {
  font-size: 60px;
}

.contactFormDiv {
  background-color: #005fb2;
}
.contactForm {
  margin-top: 10px;
  margin-bottom: 30px;
}
.contactH2 {
  color: #fff;
  text-align: center;
}
.message, .email {
  border-radius: 20px;
  width: 100%;
  text-align: center;
}
.contactButton {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  color: #000;
}

.contactButton:hover {
  background-color: #32CD32;
  border: none;
  color: #fff;
  transition: background-color .25s linear;
}

/* The Modal (background) */

 #userSignUpModal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 /* Modal Content */
 .signUpModalContent {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   border-radius: 10px;
   width: 80%;
   text-align: center;
 }


 /* The Close Button */
 #userClose {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 #userClose:hover,
 #userClose:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }

@media only screen and (max-width: 660px) {
    .spacerTopDisplay {
        display: none;
    }
}
/*@media only screen and (max-width: 1024px) {
    .spacerTopDisplay {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .spacerTopDisplay {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .spacerTopDisplay {
        display: none;
    }
}*/
